<section class="block block-feature-3">
    <div class="container">
        <div class="columns rel">
            <div class="column text-overlay">
                <nav class="block-feature-3--nav">
                    <ul>
                        <li class="nav-item">Topics</li>
                        <li class="nav-item-separator">—</li>

                        {{ range .Section.navigation }}
                        <li class="nav-item nav-item-numbered {{ if (eq $.Page.Permalink .link_url) }}active{{ end }}">
                            <a {{ if (eq .open_in_new_tab true) }}target="_blank" {{end}}href="{{ .link_url }}">
                                {{.link_text }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </nav>
                <h2><span class="light">{{ safeHTML .Section.headline }}</span></h2>
                <p>{{ safeHTML .Section.content }}</p>
            </div>
            <div class="column text">
            </div>
            <div class="column media">
                <img src="{{ .Section.media.image | relURL }}" alt="{{ .Section.media.alt_text }}">
            </div>
        </div>
    </div>
</section>